.app-container {
  display: flex;
}

.repo-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

@media (max-width: 600px) {
  .repo-container {
    font-size: calc(5px + 1vmin);
  }
}